/* importing font */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

body{
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: 'Kdam Thmor Pro', sans-serif;
    grid-template-rows: 1fr 5fr;
    
}

.header{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row:1/2;
    background-color: #1d3557;
    color:#f1faee;
}

.header  h1{
    font-size: 1.65em;
    font-weight: 1000;

}

#wraper{
    display: flex;
    flex-direction:column;
    gap:1em;
}

.sidebar{
    background-color:#e63946;
    color:#f1faee;

}

.creationEl, .projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1em;
    border-bottom:1px solid white;
    max-height: 20vh;
    padding: 2em 0;
}

.projects{
    border: none;
    gap:1.25em;
    font-size:1.4em;
    font-weight: 700;
    min-height: 80vh;
    overflow-x: hidden;
}

.project{
    display: flex;
    gap:1em;
    flex-direction: row;
}

.projects > *{
    cursor: pointer;
}

.creationEl > *{
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1em;
    padding:2.2em;
}

.red{
    background-color: #C60F0F;
    color:white;
}

.green{
    background-color: #63D471;
}

.yellow{
    background-color: #eee708;
}

.todo{
    border:4px solid black;
    padding:1.1em;
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr,3fr,1fr;
    background-color: #ACC8E5;
    color:#112A46;
    position: relative;
    min-height: 70%;
    justify-items: end;
    min-width: fit-content;
}

.todoTitle{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size:1.4em;
    font-weight:bold;
    justify-self: center;
}

.todoText{
    grid-column: 1/4;
    grid-row: 2/3;
    margin-bottom: 1em;
    justify-self: start;
}

.todoPriorty{
    display: flex;
    border:1px solid black;
    grid-column:3/4;
    grid-row:3/4;
    flex-direction: row;
}

.closeBtn{
    background-color:red;
    padding:0.2em;
    border:2px solid black;
    color:white;
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    /* position: absolute; */
    /* bottom:1em; */
    /* left: 3em; */
    margin-left:2em;
    margin-bottom:1em;
}

.priortyEl{
    padding:0.25em;
    color:black;
    border-right: 1px solid black;
    cursor: pointer;
    
}

.currentProjectTitle{
    grid-column: 2/3;
    grid-row:1/2;
    font-size:2em;
    margin-top:0.75em;
    margin-bottom:0.75em;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.4em;
    margin:1em;
}
